body{
    background-color: black;
}

.poster{
    
    margin-left: 25%;
    margin-top: 100px;
    width:50%;
    color: white;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.motivation-img{
    border: 10px solid white;
    width:100%;
}